@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap");
:root {
  --clr-gradient: #1294b8;
  --clr-black: #393937;
  --clr-white: #fff;
  --clr-cyan: #5A8FFF;
  --clr-cyan-2: rgb(139,195,245);
  --clr-lightgrey: rgb(216, 216, 216);
  --clr-grey: #C1C1C1;
  --trans-02s-linear: all .2s linear;
  --trans-04s-easeinout: all .4s ease-in-out;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
  position: relative;
}

header {
  background: radial-gradient(rgb(255, 255, 255), var(--clr-gradient));
  transition: var(--trans-02s-linear);
  min-height: 100vh;
}
header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
}
header nav .nav-toggle {
  display: none;
}
header nav .logo a {
  text-decoration: none;
  font-weight: bold;
  color: var(--clr-white);
  font-size: 2rem;
}
header nav ul {
  display: flex;
  flex-direction: row;
}
header nav ul a {
  text-decoration: none;
  color: var(--clr-white);
}
header nav ul a:hover {
  transition: var(--trans-02s-linear);
  color: var(--clr-lightgrey);
}
header nav ul li {
  font-weight: 600;
  margin: 0 10px;
  text-transform: uppercase;
}
header nav .socials i {
  color: var(--clr-white);
  margin: 0 10px;
  transition: var(--trans-02s-linear);
  font-size: 1.2rem;
}
header nav .socials i:hover {
  transition: var(--trans-02s-linear);
}
header .section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10vw;
  margin-top: 8vh;
}
header .section-1 .infos {
  max-width: 500px;
}
header .section-1 .infos h1 {
  color: var(--clr-black);
  text-transform: capitalize;
  font-size: 4rem;
}
header .section-1 .infos p {
  text-align: justify;
  margin-top: 4vh;
}
header .section-1 .infos .inputs {
  margin-top: 4vh;
  display: flex;
  align-items: center;
  position: relative;
}
header .section-1 .infos .inputs input[type=email] {
  border-radius: 40px;
  padding: 15px;
  border: none;
  width: 100%;
  flex: 1;
}
header .section-1 .infos .inputs input[type=submit] {
  position: absolute;
  right: 5px;
  cursor: pointer;
  background-color: var(--clr-cyan);
  color: var(--clr-white);
  border-radius: 20px;
  padding: 10px 20px;
  border: none;
  height: 40px;
  transition: var(--trans-02s-linear);
}
header .section-1 .infos .inputs input[type=submit]:hover {
  transition: var(--trans-02s-linear);
  background-color: var(--clr-cyan-2);
}
header .section-1 figure {
  margin-left: 5vw;
  width: 50%;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.features h2 {
  text-transform: capitalize;
  font-weight: 600;
  font-size: 2rem;
}
.features .header-desc {
  margin-top: 10px;
  width: 30%;
  color: var(--clr-grey);
}
.features .cards {
  margin: 100px;
  display: flex;
}
.features .cards .card {
  background: var(--clr-cyan);
  margin: 0 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 20vw;
  height: 30vh;
  padding: 50px;
  border-radius: 10px;
  color: var(--clr-white);
  transition: var(--trans-02s-linear);
}
.features .cards .card:hover {
  transition: var(--trans-02s-linear);
  transform: translateY(-10px);
}
.features .cards .card .title {
  font-size: 1.2rem;
  font-weight: bold;
  width: 100%;
  margin-top: 20px;
}
.features .cards .card .desc {
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
  font-weight: 300;
  text-align: center;
}

.teams {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.teams h2 {
  width: 35%;
  font-weight: 600;
  font-size: 2rem;
}
.teams .header-desc {
  margin-top: 10px;
  width: 40%;
  color: var(--clr-grey);
}
.teams .infos {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 50px;
}
.teams .infos h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
.teams .infos p {
  margin: 0;
  width: auto;
  text-transform: capitalize;
  color: var(--clr-grey);
  font-size: 0.9rem;
}
.teams .employee {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 50px;
}
.teams .employee .person .infos-title {
  font-size: 1.5rem;
  font-weight: 500;
}
.teams .employee .person .infos-desc {
  margin: 0;
  width: auto;
  text-transform: capitalize;
  color: var(--clr-grey);
  font-size: 0.8rem;
}
.teams .employee .person .about {
  margin-bottom: 50px;
}
.teams .employee .person .img {
  position: relative;
  width: 12vmax;
  height: 12vmax;
  border-radius: 50%;
  overflow: hidden;
  margin: 0;
}
.teams .employee .person .img .socials {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: var(--trans-04s-easeinout);
}
.teams .employee .person .img .socials a {
  text-decoration: none;
  color: black;
  background-color: var(--clr-white);
  margin-top: 5px;
  border-radius: 50%;
  font-size: 1em;
  transition: var(--trans-02s-linear);
}
.teams .employee .person .img .socials a:hover {
  transition: var(--trans-02s-linear);
  color: var(--clr-cyan);
}
.teams .employee .person .img .socials a i {
  padding: 8px;
}
.teams .employee .person .img:hover .socials {
  transition: all 0.2s ease-in;
  transform: translateX(100%) translateY(100%);
  opacity: 1;
}
.teams .employee .person .img img {
  width: 100%;
  filter: grayscale(1);
  transition: var(--trans-02s-linear);
}
.teams .employee .person .img img:hover {
  transition: var(--trans-02s-linear);
  transform: scale(1.1);
  filter: grayscale(0);
}
.teams .employee .person .job {
  font-size: 0.8rem;
  color: var(--clr-grey);
}

.parallax {
  position: relative;
  background: no-repeat url(../img/parallax.png);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  margin-top: 50px;
  height: 600px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.parallax::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}
.parallax h2 {
  color: var(--clr-white);
  font-size: 2rem;
  font-weight: 500;
  z-index: 1;
}
.parallax p {
  margin-top: 20px;
  width: 80%;
  color: var(--clr-grey);
  z-index: 1;
}
.parallax .started-btn {
  margin-top: 30px;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid var(--clr-white);
  background: none;
  color: var(--clr-white);
  cursor: pointer;
  text-transform: capitalize;
  transition: var(--trans-04s-easeinout);
  font-weight: 600;
  z-index: 1;
}
.parallax .started-btn:hover {
  transition: var(--trans-04s-easeinout);
  background-color: var(--clr-white);
  color: black;
  font-weight: 500;
  transform: translateY(-3px);
}

.blogs-sec {
  min-height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.blogs-sec h2 {
  text-transform: capitalize;
  font-size: 2rem;
  font-weight: 600;
}
.blogs-sec p {
  margin-top: 10px;
  color: var(--clr-grey);
  width: 30%;
}
.blogs-sec .blogs {
  display: flex;
  justify-content: space-around;
  padding: 100px;
}
.blogs-sec .blogs .blog {
  display: flex;
  width: auto;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
}
.blogs-sec .blogs .blog .desc-content {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 100%;
  height: 98%;
  transition: var(--trans-04s-easeinout);
}
.blogs-sec .blogs .blog .desc-content img {
  width: 100%;
  border-radius: 10px;
  position: relative;
  z-index: -1;
  transition: var(--trans-04s-easeinout);
}
.blogs-sec .blogs .blog .desc-content .middle {
  position: absolute;
  display: flex;
  top: 5%;
  left: 5%;
  flex-direction: column;
  align-items: flex-start;
  opacity: 0;
  transition: var(--trans-04s-easeinout);
}
.blogs-sec .blogs .blog .desc-content .middle strong {
  color: var(--clr-white);
  font-size: 1.2rem;
}
.blogs-sec .blogs .blog .desc-content .middle p {
  width: auto;
  color: var(--clr-white);
}
.blogs-sec .blogs .blog .desc-content:hover {
  background-color: rgba(0, 0, 0, 0.6);
  transition: var(--trans-04s-easeinout);
}
.blogs-sec .blogs .blog .desc-content:hover .middle {
  transition: var(--trans-04s-easeinout);
  opacity: 1;
}
.blogs-sec .blogs .blog strong {
  font-size: 1.2rem;
  font-weight: 600;
}
.blogs-sec .blogs .blog p {
  width: auto;
  text-align: start;
}
.blogs-sec .blogs .blog a {
  margin-top: 10px;
  text-decoration: none;
  color: #539DB8;
  font-weight: 500;
}

.pricing-sec .creative {
  display: flex;
  justify-content: center;
  margin-top: 100px;
}
.pricing-sec .creative .creative-desc {
  display: flex;
  flex-direction: column;
  width: 35%;
}
.pricing-sec .creative .creative-desc .title-creative {
  font-size: 1.5rem;
  width: -moz-max-content;
  width: max-content;
  font-weight: 700;
}
.pricing-sec .creative .creative-desc .desc-creative {
  color: var(--clr-grey);
  margin-top: 40px;
  text-align: justify;
}
.pricing-sec .creative .creative-desc .creative-infos {
  display: flex;
}
.pricing-sec .creative .creative-desc .creative-infos div {
  padding: 40px 40px 0 0;
}
.pricing-sec .creative .creative-desc .creative-infos div strong {
  font-size: 1.5rem;
  font-weight: 500;
}
.pricing-sec .creative .creative-desc .creative-infos div p {
  font-size: 1rem;
  color: var(--clr-grey);
}
.pricing-sec .creative .creative-desc .btn-learn {
  margin-top: 40px;
  width: -moz-max-content;
  width: max-content;
  padding: 10px 40px;
  background-color: var(--clr-cyan);
  border: 1px solid var(--clr-white);
  border-radius: 5px;
  color: var(--clr-white);
  text-decoration: none;
  transition: var(--trans-02s-linear);
}
.pricing-sec .creative .creative-desc .btn-learn:hover {
  transition: var(--trans-02s-linear);
  background-color: var(--clr-white);
  color: var(--clr-cyan);
  border: 1px solid var(--clr-cyan);
}
.pricing-sec .creative .creative-img {
  width: -moz-max-content;
  width: max-content;
  margin-left: 5%;
}
.pricing-sec .creative .creative-img img {
  width: 100%;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.pricing-sec .pricing {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 100px;
  background-color: #F3F3F3;
  padding-bottom: 100px;
}
.pricing-sec .pricing h2 {
  font-size: 2rem;
  font-weight: 600;
}
.pricing-sec .pricing p {
  margin-top: 10px;
  width: 30%;
  text-align: center;
  color: var(--clr-grey);
}
.pricing-sec .pricing .cards-price {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.pricing-sec .pricing .cards-price .card-price {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  margin: 10px;
  background-color: var(--clr-white);
  box-shadow: 0 5px 10px -3px var(--clr-black);
  border-radius: 10px;
  min-width: 300px;
  width: 15vmax;
  height: auto;
}
.pricing-sec .pricing .cards-price .card-price .card-title {
  width: 100%;
  color: unset;
  font-weight: 600;
}
.pricing-sec .pricing .cards-price .card-price .price {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: center;
}
.pricing-sec .pricing .cards-price .card-price .price p {
  margin-top: 0;
  width: auto;
}
.pricing-sec .pricing .cards-price .card-price .price .price-mount {
  color: var(--clr-cyan);
  font-size: 4em;
  font-weight: 500;
  width: auto;
}
.pricing-sec .pricing .cards-price .card-price .price .price-mount sup {
  font-size: 0.5em;
}
.pricing-sec .pricing .cards-price .card-price .lists {
  display: flex;
  flex-direction: column;
}
.pricing-sec .pricing .cards-price .card-price .lists .infos {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
}
.pricing-sec .pricing .cards-price .card-price .lists .infos .title .fa-circle-check {
  color: green;
}
.pricing-sec .pricing .cards-price .card-price .lists .infos .title .fa-circle-xmark {
  color: red;
}
.pricing-sec .pricing .cards-price .card-price .lists .infos .desc p {
  color: unset;
}
.pricing-sec .pricing .cards-price .card-price .btn-join {
  padding: 10px 20px;
  text-align: center;
  border-radius: 5px;
  background-color: var(--clr-cyan);
  border: 1px solid var(--clr-cyan);
  text-decoration: none;
  color: var(--clr-white);
  margin-top: 30px;
  transition: var(--trans-02s-linear);
}
.pricing-sec .pricing .cards-price .card-price .btn-join:hover {
  transition: var(--trans-02s-linear);
  background-color: var(--clr-white);
  color: var(--clr-cyan);
  border: 1px solid var(--clr-cyan);
}
.pricing-sec .pricing .cards-price .card-price .sales {
  position: absolute;
  top: 0;
  right: 0;
  padding: 20px;
  width: -moz-min-content;
  width: min-content;
  background-color: var(--clr-cyan);
  color: var(--clr-white);
  border-bottom-left-radius: 20px;
  border-top-right-radius: 10px;
  overflow: hidden;
  line-height: 0.9em;
  font-weight: 300;
}
.pricing-sec .pricing .cards-price .advanced {
  transform: translateY(-20px);
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #26272B;
  width: 100%;
  height: 200px;
}
footer .socials-icon {
  display: flex;
  width: -moz-max-content;
  width: max-content;
}
footer .socials-icon .icon {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  border: 2px solid #5F6064;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: var(--trans-02s-linear);
}
footer .socials-icon .icon i {
  color: #5F6064;
  transition: var(--trans-02s-linear);
}
footer .socials-icon .icon:hover {
  transition: var(--trans-02s-linear);
  border-color: var(--clr-white);
}
footer .socials-icon .icon:hover i {
  color: var(--clr-white);
}
footer .policy {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}
footer .policy .separator {
  margin: 0 20px;
  color: #5F6064;
}
footer .policy a {
  text-decoration: none;
  color: #5F6064;
  transition: var(--trans-02s-linear);
}
footer .policy a:hover {
  transition: var(--trans-02s-linear);
  color: var(--clr-white);
}
footer .copyright {
  margin-top: 20px;
  color: #5F6064;
}

.settings {
  display: flex;
  position: fixed;
  top: 20vh;
  z-index: 1;
}
.settings .test {
  position: relative;
}
.settings .square-option {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  left: 0;
  background-color: #393937;
  text-decoration: none;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  cursor: pointer;
  transition: var(--trans-04s-easeinout);
}
.settings .square-option i {
  transition: var(--trans-02s-linear);
  color: var(--clr-white);
  animation: rotate infinite linear 1.2s;
}
.settings .options {
  position: absolute;
  right: 100%;
  background-color: var(--clr-white);
  padding: 10px;
  transition: var(--trans-04s-easeinout);
}
.settings .options .colors {
  display: grid;
  grid-template-columns: 0fr 0fr 0fr;
}
.settings .options .color {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-white);
  height: 30px;
  width: 30px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}
.settings .options .clr-default {
  background-color: #1294b8;
}
.settings .options .clr-green {
  background-color: #2e8b57;
}
.settings .options .clr-red {
  background-color: #dc143c;
}
.settings .options .clr-blue {
  background-color: #4169e1;
}
.settings .options .clr-orange {
  background-color: #ff9966;
}
.settings .options .clr-pink {
  background-color: #ffc1cc;
}
.settings .options .clr-purple {
  background-color: #800080;
}
.settings .options .clr-gold {
  background-color: #d4af37;
}
.settings .options .clr-teal {
  background-color: #008080;
}
.settings .active {
  transition: var(--trans-04s-easeinout);
  transform: translateX(140px);
  z-index: 1;
}

.goUp {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #3E3E3E;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--clr-white);
  transition: var(--trans-02s-linear);
}
.goUp:hover {
  transition: var(--trans-02s-linear);
  transform: scale(0.9);
  background-color: var(--clr-cyan);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 768px) {
  body {
    width: 100%;
  }
  header .settings {
    display: none;
  }
  header nav {
    display: block;
    justify-content: space-between;
  }
  header nav .nav-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  header nav .nav-header .logo a {
    font-size: 2.5em;
  }
  header nav .nav-toggle {
    display: block;
    font-size: 1.5rem;
    color: var(--clr-white);
    background: transparent;
    border-color: transparent;
    transition: var(--trans-02s-linear);
    cursor: pointer;
  }
  header nav .nav-toggle:hover {
    color: var(--clr-cyan);
    transform: rotate(90deg);
  }
  header nav .links {
    display: block;
    height: 0;
    overflow: hidden;
    transition: var(--trans-02s-linear);
    width: 100%;
  }
  header nav .links a {
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  header nav .show-links {
    height: 14rem;
    transition: var(--trans-02s-linear);
  }
  header nav .socials {
    display: none;
  }
  header .section-1 {
    flex-direction: column;
    margin: 0;
    padding: 20px;
  }
  header .section-1 .infos {
    text-align: center;
  }
  header .section-1 .infos h1 {
    text-align: center;
    font-size: 2em;
  }
  header .section-1 figure {
    margin: 0;
    width: 100%;
    margin-top: 30px;
  }
  header .section-1 figure img {
    width: 100%;
  }
  .features {
    padding: 20px;
  }
  .features .header-desc {
    width: auto;
    text-align: center;
  }
  .features .cards {
    flex-direction: column;
    margin: 0;
    margin-top: 20px;
  }
  .features .cards .card {
    width: 100%;
    padding: 10px;
    margin: 0;
    margin-top: 20px;
  }
  .features .cards .card:hover {
    transform: none;
  }
  .teams {
    padding: 20px;
  }
  .teams h2 {
    width: auto;
  }
  .teams .header-desc {
    width: auto;
  }
  .teams .employee {
    flex-direction: column;
  }
  .teams .employee .person {
    margin-top: 50px;
  }
  .teams .employee .person .about {
    margin: 0;
    margin-bottom: 20px;
  }
  .teams .employee .person .img {
    display: flex;
    overflow: auto;
    border-radius: unset;
    width: auto;
    height: auto;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
  }
  .teams .employee .person .img img {
    border-radius: 50%;
    width: 200px;
    height: 200px;
  }
  .teams .employee .person .img .socials {
    opacity: 1;
    z-index: 1;
    position: relative;
    flex-direction: row;
  }
  .teams .employee .person .img .socials a {
    background-color: var(--clr-cyan);
    border-radius: 50%;
    margin: 20px 5px;
    padding: 10px;
    color: var(--clr-white);
  }
  .teams .employee .person .img .socials a .fa-facebook-f {
    width: 32px;
  }
  .parallax {
    width: auto;
    height: auto;
    padding: 20px;
    background-size: cover;
    background-attachment: unset;
  }
  .parallax p {
    width: 100%;
    text-align: justify;
  }
  .blogs-sec {
    padding: 20px;
  }
  .blogs-sec p {
    width: 100%;
  }
  .blogs-sec .blogs {
    flex-direction: column;
    padding: 0;
    margin-top: 50px;
  }
  .blogs-sec .blogs .blog {
    margin: 0;
    margin-bottom: 50px;
  }
  .blogs-sec .blogs .blog .desc-content .middle {
    display: none;
  }
  .blogs-sec .blogs .blog .desc-content:hover {
    background-color: unset;
  }
  .blogs-sec .blogs .blog p {
    width: 100%;
    text-align: justify;
  }
  .pricing-sec .creative {
    padding: 20px;
    margin: 0;
    flex-direction: column;
    width: 100%;
  }
  .pricing-sec .creative .creative-desc {
    width: 100%;
  }
  .pricing-sec .creative .creative-desc .title-creative {
    width: auto;
    text-align: center;
  }
  .pricing-sec .creative .creative-desc .creative-infos {
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }
  .pricing-sec .creative .creative-desc .creative-infos div {
    width: 100%;
    padding: 0;
    text-align: center;
  }
  .pricing-sec .creative .creative-desc .btn-learn {
    width: auto;
    text-align: center;
  }
  .pricing-sec .creative .creative-img {
    width: 100%;
    margin: 0;
    padding: 0;
    margin-top: 50px;
  }
  .pricing-sec .pricing {
    margin: 0;
    padding: 0;
    width: 100%;
    padding: 20px;
  }
  .pricing-sec .pricing p {
    width: 100%;
  }
  .pricing-sec .pricing .cards-price {
    flex-direction: column;
    justify-content: unset;
  }
  .pricing-sec .pricing .cards-price .card-price {
    margin-top: 20px;
  }
  .pricing-sec .pricing .cards-price .advanced {
    transform: none;
  }
  footer {
    height: auto;
    padding: 20px;
  }
  footer .socials-icon .icon {
    width: 35px;
    height: 35px;
  }
  footer .policy .link a {
    font-size: 0.9em;
  }
  footer .policy .separator {
    margin: 0 5px;
  }
  footer .copyright {
    width: 100%;
    text-align: center;
  }
}/*# sourceMappingURL=style.css.map */